@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.overflow-y-auto {
    overflow-y: auto;
}

.max-h-60 {
    max-height: 15rem; /* Adjust this value as needed */
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}